@import url("https://use.fontawesome.com/releases/v5.6.1/css/all.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: sans-serif;
  background: #444;
}

.first-level-ul {
  display: flex;
}

.first-level-li:hover .second-level-ul {
  display: block;
}

/*----------------------------------------------------------------------------------- */
/*	HEADER */
/*----------------------------------------------------------------------------------- */
#menu-bar > #buscador i {
  font-size: 20px;
  cursor: pointer;
  float: right;
  z-index: 2;
  padding-top: 16px;
  color: #000;
}

#menu-bar > #buscador a {
  height: 50px;
  margin-top: -15px;
  padding: 0 7px;
  z-index: 2;
  position: relative;
}

#menu-bar > #buscador a:hover,
#menu-bar > #buscador i:hover {
  background: #dedede;
}

#buscador {
  position: absolute;
  top: 15px;
  right: 100px;
  width: calc(100% - 110px);
  height: 50px;
}

#menu-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

#buscador .mysearchinput {
  width: 0;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  border-radius: 15px;
  outline: none;
  font-size: 12px;
  color: #222;
  opacity: 0;
  cursor: pointer;
  transition: width 0.5s cubic-bezier(0, 0.795, 0, 1), border 0.5s ease-out;
}

#buscador .mysearchinput::placeholder {
  font-weight: 500;
}

#buscador .mysearchinput:focus {
  width: 100%;
  padding-right: 30px;
  z-index: 1;
  cursor: text;
  opacity: 1;
  top: -5px;
}

.navigation {
  height: 50px;
  background: #222;
  z-index: 100;
}

.navigation-sub {
  background: #f8f8f8;
  z-index: 99;
  margin-top: 50px;
}

.nav-sub .nav-dropdown {
  position: absolute;
  top: 50px;
}

.navigation .container {
  padding-right: 0;
  padding-left: 0;
}

.navigation .container .brand,
.navigation .container .nav-list {
  padding-right: 15px;
  padding-left: 15px;
}

.nav-top > .nav-list {
  background: #222;
}

.navigation.default {
  width: 100%;
  position: absolute;
}

.navigation.fixed {
  position: fixed;
  margin: 0;
  width: 100%;
  background: #222222;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.4);
}

.navigation-sub.default {
  width: 100%;
  position: absolute;
}

.navigation-sub.fixed {
  position: fixed;
  margin-top: 50px;
  width: 100%;
  background: #f8f8f8;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.4);
}

nav.nav-sub {
  float: left;
  width: 100%;
}

.searchform form {
  padding: 0;
}

.searchform .searchform-input {
  width: 400px;
}

.brand {
  position: absolute;
  float: left;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 1.4em;
}

.brand a, .brand a:visited {
  color: #fff;
  text-decoration: none;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav > ul > li > a,
nav > ul > li > a:visited {
  display: block;
  padding: 0 20px !important;
  line-height: 50px;
  background: #262626;
  color: #fff;
  text-decoration: none;
}

nav > ul > li > a:hover {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  background: #261e17;
  color: #fff;
  text-decoration: none;
}

nav .nav-dropdown li a {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  background: #9d9d9d;
  color: #fff;
  text-decoration: none;
}

nav.nav-sub .nav-dropdown li a {
  background: #9d9d9d;
}

nav.nav-sub .nav-dropdown li a:hover {
  background: #7f7f7f;
}

nav .nav-dropdown li a:hover {
  background: #7f7f7f;
  color: #fff;
  text-decoration: none;
}

.navigation-sub nav ul li a, nav ul li a {
  display: block;
  padding: 0 5px;
  line-height: 50px;
  background: #f8f8f8;
  color: #fff;
  text-decoration: none;
}

.navigation-sub nav ul li a:hover {
  background: #dedede;
}

.navigation-top .nav-list > li > a {
  background: #262626;
  color: #9d9d9d;
}

.navigation-top .nav-list > li > a:hover,
.navigation-top .nav-list > li > a:focus {
  background: #323232;
  color: #25b7d3 !important;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-list > li > ul > li > ul > li {
  right: -100%;
  width: 100px;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: -5px;
  background: #262626;
  height: 50px;
}

.navigation-top .nav-mobile {
  width: 70px;
}

.navigation .brand img {
  width: 70%;
  padding-top: 10px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav .nav-dropdown li a {
    background: #262626;
    color: #fff;
    text-decoration: none;
  }

  nav.nav-top {
    width: 100%;
    padding: 50px 0 15px;
  }

  nav.nav-top ul {
    display: none;
    width: 60%;
  }

  nav.nav-top ul li {
    float: none;
  }

  nav.nav-top ul li a {
    padding: 15px !important;
    line-height: 20px;
  }

  nav.nav-top > ul > li > a {
    font-size: 18px;
  }

  nav.nav-top ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  top: 10px;
  cursor: pointer;
  padding: 10px 35px 16px 0;
}

#nav-toggle span, #nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #fff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/*----------------------------------------------------------------------------------- */
/*	FOOTER */
/*----------------------------------------------------------------------------------- */
footer.inverse-wrapper {
  background: #282a2c;
  color: #d5d5d5;
  position: relative;
}

footer.inverse-wrapper a:hover {
  color: #25b7d3 !important;
}

footer.inverse-wrapper .sub-footer {
  background: #232526;
}

footer .widget {
  margin-bottom: 15px;
}

footer .widget h4 {
  letter-spacing: -0.6px;
  font-weight: 700;
}

footer [class*="col-"] .widget {
  margin-top: 30px;
}

footer [class*="col-"] .widget:first-child {
  margin-top: 0;
}

footer .widget.ul-no-style ul {
  list-style-type: none;
}

footer .widget-title {
  margin-bottom: 15px;
}

footer .inner2 {
  padding-top: 60px;
}

footer .inner3 {
  padding-top: 30px;
}

footer .social {
  padding: 0;
}

footer .social li {
  display: inline-block;
  font-family: "fontello-social";
  margin: 0 5px 0 0;
}

footer .social li a i:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
}

footer .social li a i {
  color: #aaa;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

footer .widget .post-list {
  padding: 0;
}

footer .isotope-filter ul {
  padding-left: 15px;
  margin: 0;
}

footer .isotope-filter ul li a {
  display: inline-block;
  color: #fff;
  background: 0;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 0;
  margin-right: 40px;
  cursor: pointer;
  position: relative;
  border: 0;
}

footer .divide20 {
  height: 20px;
}

#canasta {
  position: absolute;
  top: 110px;
  right: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  color: #fff;
  border: solid #fff;
  background: #222;
  z-index: 2;
  cursor: pointer;
}

.modal-visible {
  transform: translateY(11px) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

#modal-bag {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: -2px 2px 4px 0 rgba(45, 45, 45, 0.14);
  transition: transform 0.6s;
  transition-delay: 0.25s;
  min-height: 255px;
  position: absolute;
  top: 160px;
  right: 10px;
  width: 325px;
  transition: max-height 0.6s;
  transition-delay: 0.25s;
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
#modal-bag::before {
  content: "";
  width: 0;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 11px solid #eee;
  position: absolute;
  top: -11px;
  right: 7.5px;
  transition: opacity 0.6s;
  transition-delay: 0.25s;
  z-index: 1;
}

#modal-bag-h {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}

#modal-bag-title {
  padding-left: 1em;
  align-self: center;
  font-size: 15px;
}
#modal-bag-title .span-item {
  font-weight: 900;
  margin-right: 1ex;
}

#modal-bag-close {
  color: #2d2d2d;
  cursor: pointer;
  margin: 2px;
  padding: 0 12px;
  font-size: 3em;
}

#modal-bag-m {
  position: relative;
  padding: 1em 0;
  margin: 0 1em;
}

#modal-bag-m a {
  display: flex;
}

#modal-bag-m .product-img {
  width: 109px;
  align-self: flex-start;
  margin-right: 1em;
}

#modal-bag-m dl {
  margin-bottom: 1.125em;
  color: #666;
  font-size: 0.925rem;
}

#modal-bag-m .product-price {
  font-weight: 900;
  line-height: 20px;
  margin-bottom: 0.375em;
}

#modal-bag-m .product-info {
  display: flex;
  flex-wrap: wrap;
}

#modal-bag-m .product-info dd {
  flex: 1 0 auto;
}

#modal-bag-m .delete-item {
  position: absolute;
  bottom: 0.2rem;
  right: -0.7rem;
  width: 2.9rem;
  height: 2.9rem;
  background-color: transparent;
  border: none;
}
#modal-bag-m .delete-item:hover {
  color: red;
}

.fa-trash-alt {
  font-size: 1.5em;
}

#modal-bag-f {
  background-color: #eee;
}

#sub-total {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

#buttons {
  padding: 12px 16px;
  border-top: 1px solid #ddd;
}

#modal-bag-f .product-action {
  padding: 3px 12px;
  border: 2px solid #ddd;
  width: calc(50% - 6px);
  height: 44px;
  text-align: center;
  letter-spacing: 0.8px;
  line-height: 30px;
  font-size: 0.75rem;
  font-weight: 900;
  text-transform: uppercase;
}

#view-bag {
  margin-right: 6px;
  color: #2d2d2d;
  background-color: #fff;
}

#checkout {
  margin-left: 6px;
  color: #fff;
  background-color: #00aa5b;
}
